# Blocklist so only out/extension.js, package.json, license.md are packaged.
# Run: cd extension && npm run package
node_modules
node_modules/**
src
src/**
.vscode
.vscode-test
tsconfig.json
vite.config.ts
**/*.ts
**/*.map
*.log
.gitignore
.git
.git/**
../**
