@import "tailwindcss";

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
    "helvetica neue", "Adwaita Sans", Cantarell, Ubuntu, roboto, noto,
    helvetica, arial, sans-serif;
  --font-serif:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif,
    Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --font-mono:
    Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console,
    monospace;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

ul {
  @apply flex flex-col;
}

h1 {
  @apply font-semibold text-xl;
}
