@import "tailwindcss";

@theme {
  --color-foreground: #404040;
  --color-background: #202020;
  --color-hover: #353535;
  --color-hover-light: #606060;

  --color-select: #007acc;

  --color-border: #505050;
}

.overlay {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.header {
  background: var(--color-foreground);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.header:hover {
  background: var(--color-hover);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  gap: 0.25rem;
}
.row:hover {
  background: var(--color-hover);
}

.icon-size {
  width: 1rem;
  height: 1rem;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 0;
}

@font-face {
  font-family: "Departure Mono";
  src:
    url("/DepartureMono-1.500/DepartureMono-Regular.woff2") format("woff2"),
    url("/DepartureMono-1.500/DepartureMono-Regular.woff") format("woff"),
    url("/DepartureMono-1.500/DepartureMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --font-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", Times, serif;

  --font-mono:
    "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  font-family: var(--font-sans);
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

select {
  outline: 0;
}
input {
  outline: 0;
}
