@import "tailwindcss";

:root {
  /* sans */
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;

  /* serif */
  font-family:
    Iowan Old Style,
    Apple Garamond,
    Baskerville,
    Times New Roman,
    Droid Serif,
    Times,
    Source Serif Pro,
    serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;

  /* mono */
  font-family:
    Menlo,
    Consolas,
    Monaco,
    Adwaita Mono,
    Liberation Mono,
    Lucida Console,
    monospace;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

select {
  outline: 0;
}
input {
  outline: 0;
}
